<% include ../partials/header %>

<h1>Rain-bee</h1>
<div class="container d-inline">
  <label for="search">Search:</label>
  <input type="text" id="search" name="search" value="">
</div>

<div class="container pt-2 pb-2">
  <div class="row">
      <% for(var i=0; i<allOperators.length;i++){ %>
        <div class="col-3 operator-holder">
          <div class="thumbnail">
            <img class="img-thumbnail r" src="<%=allOperators[i].imagelink %>">
          </div>
          <div class="info hidden">
            <p class="name"><strong><%=allOperators[i].name %></strong></p>
            <p><strong>Hard Counters:</strong><br><%=allOperators[i].hardcounters %></p>
            <p><strong>Soft Counters:</strong><br><%=allOperators[i].softcounters %></p>
            <p><strong>Strengths:</strong><br><%=allOperators[i].other %></p>
          </div>
        </div>
      <% } %>
  </div>
</div>

<div class="container">
  <select id="SelectOperator">
    <% for(var i=0; i<allOperators.length;i++){ %>
      <option value="<%=allOperators[i].name %>"><%=allOperators[i].name %></option>
    <% } %>
  </select>

  <select id="SelectAction">
    <option value="edit">Edit</option>
    <option value="delete">Delete</option>
    <option value="new">New Operator</option>
  </select>

  <button type="button" id="SelectButton" name="SelectButton">Action </button>
</div>



<% include ../partials/footer %>
